################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Portafolio/FileContentIndex/45cac52d-6640-4343-84a7-f0c2ee0e7965.vsidx
/.vs/Portafolio/FileContentIndex
