<h1 class="display-4">Soy Jorge Gonzalez Perez</h1>

<h2>Soy un desarrollador fullstack especializado en tecnologías .Net y JavaScript.</h2>

<img id="foto"
     src="~/imagenes/batman.jpg" alt="Foto de Batman" />
<br />
<img id="imagen-dotnet"
     src="~/imagenes/meta.png" alt="dotnet logo" />


<div class="row justify-content-center text-center bg-secondary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente .... Lorem ipsum dolor sit amet consectetur
            adipiscing elit lacinia dictumst facilisi, ridiculus sollicitudin lacus inceptos varius
            tincidunt semper dignissim in sociosqu, maecenas porttitor iaculis ligula magnis pharetra ultricies ullamcorper eget.
        </p>
    </div>
</div>