@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <partial name="_Presentacion" />

    <partial name="_Habilidades" />

    <partial name="_SeccionProyectos" />

</div>
